body{
    background: url(amazingrainbow.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Rampart One', cursive;
}
html{
    height: 100%;
    padding: 1rem, 5rem;
}
#search{
padding: 5px 10px;
font-size: 20px;
cursor: pointer;
margin-right: 20px;
}
#input{
    padding: 5px 10px;
    font-size: 25px;
    border-radius: .5em;
    border: solid black;
}
.header h1{
    color: black;
    background: linear-gradient(to right, #FCF4C9, #FEE3E2, #FBCDF2, #E8BEFA,#ABBFFF, #BBF3C0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 25s linear infinite;
    font-size: 60px;


}
@keyframes animate{
to{
    background-position: 4500vh;
}
}
#image{
  /*  border: 0.5rem outset pink;
    outline: 0.5rem solid khaki;
    box-shadow: 0 0 0 2rem skyblue; */
    font: bold 1rem sans-serif;
    margin: 2rem;
 /*   padding: 1rem;*/
  /*  outline-offset: 0.5rem;*/
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 1vw;
    border-radius: 50%;
    animation: rainbow 5s linear infinite;
  
  }
  #weatherBoxDisplay{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .boxOne, .boxTwo, .boxThree, .boxFour, .boxFive{
    font-family: 'Alumni Sans Inline One', cursive;
    font-size: 30px;
    padding: 40px;
  }
  #location, #degrees, #currentActivity, #currentTime{
    font-family: 'Alumni Sans Inline One', cursive;
    font-size: 30px;
    text-align: center;
  }
  .header{
    display: inline-block;
  }
  #date, #dateTwo, #dateThree, #dateFour, #dateFive{
    text-decoration: underline;
  }
  @keyframes rainbow {
    0% { border-color: #FCF4C9 }
    10% { border-color: #FEE3E2 }
    20% { border-color: #FBCDF2 }
    30% { border-color: #E8BEFA }
    40% { border-color: #ABBFFF}
    50% { border-color: #BBF3C0 }
    30% { border-color: #FCF4C9 }
    70% { border-color: #FEE3E2 }
    80% { border-color: #FBCDF2  }
    90% { border-color: #ABBFFF }
    100% { border-color: #BBF3C0 }
  }