body{
    background: url(weatherbackground.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Rampart One', cursive;
}
html{
    height: 100%;
    padding: 1rem, 5rem;
}
#search{
padding: 5px 10px;
font-size: 20px;
cursor: pointer;
margin-right: 20px;
}
#input{
    padding: 5px 10px;
    font-size: 25px;
    border-radius: .5em;
    border: solid black;
}
.header h1{
    color: black;
    background: linear-gradient(to right, red, orange, yellow, green,blue, indigo, violet);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;


}
#image{
    border: 0.5rem outset pink;
    outline: 0.5rem solid khaki;
    box-shadow: 0 0 0 2rem skyblue;
    border-radius: 12px;
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
  }
  #weatherBoxDisplay{
    display: flex;
  }
  .boxOne, .boxTwo, .boxThree, .boxFour, .boxFive{
    font-family: 'Alumni Sans Inline One', cursive;
  }
  #location, #degrees{
    font-family: 'Alumni Sans Inline One', cursive;
  }
  .header{
    display: inline-block;

  }
